<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>(PRODUCT_BUNDLE_IDENTIFIER).awwlist</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>awwlist</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>square.and.pencil</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Before you go, tell us what we could do better.</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Leave a message</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.awwlist.feedback-before-leaving</string>
		</dict>
	</array>
</dict>
</plist>
